.white-space-pre-wrap {
    white-space: pre-wrap;
}

.mx-1rem-container {
    margin-left: 1rem;
    margin-right: 1rem;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.pc {
    display: inline-block;
}

.sp {
    display: none;
}

@media screen and (max-width: 768px) {
    .pc {
        display: none;
    }

    .sp {
        display: block;
    }
}


.delete-btn,
.edit-btn {
    cursor: pointer;
}

/* gridテーブル共通 */
:root {
    --border-gray: #dee2e6;
}

.grid-container {
    position: relative;
    width: 100%;
}

.grid-head,
.grid-record,
.grid-foot {
    display: grid;
    /* カラムの数 1fr を用意 カラムのそれぞれのサイズは自由に合わせてOK　px % 1fr rem など。また、この部分はページ毎に記述してもよい*/
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


.grid-head {
    font-weight: bold;
    position: sticky;
    border-top: 1px solid var(--border-gray) !important;
    top: 0;
    background-color: #f4f6f9;
    border-bottom: 2px solid var(--border-gray) !important;
}

.grid-foot {
    font-weight: bold;
    border-top: 2px solid var(--border-gray) !important;

    background-color: #f4f6f9;
}

.grid-record {
    border-bottom: 1px solid var(--border-gray) !important;
}

/* カラムのデザイン */
.grid-hitem,
.grid-ritem {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    text-align: center;

    /*テキストの折り返しを許容*/
    word-break: break-all;

}

.input-record {
    display: grid;
    /* grid-template-columns: 40% 60%; */
    align-items: center;
}

/* modal内のinput */
.input-title {
    text-align: center;
}


@media screen and (max-width: 768px) {
    .modal {
        font-size: 0.7rem;
    }
}

/* SE */
@media screen and (max-width: 375px) {

    .grid-hitem,
    .grid-ritem {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
