.skill-card-container {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    flex-wrap: wrap;
}

.record {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.add-modal .record {
    display: grid;
    grid-template-columns: 65% 1fr;
    place-items: center;
}

.edit-record {
    display: grid;
    grid-template-columns: 10% 40% 20% 10% 20%;
    place-items: center;
}

.skill-input,
.month-input {
    border: none;
    height: 100%;
    width: 100%;
    text-align: center;
}

.month-input {
    max-width: 3rem;
}

.item {
    width: 100%;
    text-align: center;
}

.btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.inner-container  {
    min-width: 333px;
}

@media screen and (max-width: 768px) {
    .skill-card-container {
        flex-direction: column;
    }

    .inner-container {
        margin: 0 auto;
    }

    .edit-record {
        display: grid;
        grid-template-columns: 10% 30% 20% 10% 30%;
        place-items: center;
    }
}
