.my-pr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
    height: 15rem;
}

.my-pr-wrap {
    display: grid;
    grid-template-columns: 8rem 1fr;
    /* border: 1px solid var(--gray); */
}

.pr-head {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #f4f6f9;
}

.flex-yx-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    border: none;
}




.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* .profile-table {
    display: flex;
    flex-direction: column;
} */

.table-row {
    display: grid;
    grid-template-columns: 8rem 1fr;
    flex-grow: 1;
}

.table-title {
    display: flex;
    align-items: center;
    justify-content: center;
}


/**************************************/

@media screen and (max-width: 768px) {
    .my-pr {
        grid-template-columns: none;
        height: 25rem;

    }

    .pr-head {
        flex-direction: row;
    }

    .my-pr-wrap {
        grid-template-columns: none;
    }

    .grid-wrapper {
        grid-template-columns:none;
    }

    .flex-yx-center {
        flex-direction: column;
    }
}

/***************************************/
